{% extends 'layout.html.twig' %}
{% block title %}Ajout d'un contact | simple-mvc-test{% endblock %}
{% block content %}
    <h1><i class="far fa-user"></i> Nouveau contact</h1>
    {% include 'Contact/_form.html.twig' %}
    <a href="/" class="btn btn-info btn-sm"><i class="far fa-arrow-alt-circle-left"></i> Back</a>
{% endblock %}
